{% extends "layout.html" %}
{% block body %}
<div class="page-header">
  <h1>Radio stream control website</h1>
</div>
<div class="well">
    <div class="row">
        <h3 id="current_radio">On air:</h3>
    </div>
    <div class="row">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" id="play">Play</button>
          <button type="button" class="btn btn-primary" id="prev">Previous</button>
          <button type="button" class="btn btn-primary" id="next">Next</button>
        </div>
    </div>
    <div class="row">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" id="incr">Increase volume</button>
          <button type="button" class="btn btn-primary" id="decr">Decrease volume</button>
        </div>
    </div>
    <div class="row">
      <form class="form-inline">
        <div class="form-group">
          <label for="name">Radio's name:</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="url">URL:</label>
          <input type="text" class="form-control" id="url">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <div class="row">
      <h3 id="volume">Volume: 50%<h3>
    </div>
</div>
<script>
    $(document).ready(function(){
        var data = {submit:"Status"}
        $.ajax({
          url: $SCRIPT_ROOT + "/control",
          data: JSON.stringify(data),
          type: "POST",
          contentType:"application/json; charset=utf-8",
          success: function(response) {
              console.log($.parseJSON(response)["response"])
              var resp = $.parseJSON(response)["response"]
              if (resp == "False"){
                  $("#play").text("Play")
              } else {
                  $("#play").text("Stop")
              }
              console.log($.parseJSON(response)["response2"])
              $("#current_radio").text("On air: "+ $.parseJSON(response)["response2"])
          },
          error: function(error) {
              console.log(error);
          }
        });
        data = {submit:"Volume"}
        $.ajax({
          url: $SCRIPT_ROOT + "/control",
          data: JSON.stringify(data),
          type: "POST",
          contentType:"application/json; charset=utf-8",
          success: function(response) {
              console.log($.parseJSON(response)["response"])
              $("#volume").text("Volume: " + $.parseJSON(response)["response"])
          },
          error: function(error) {
              console.log(error);
          }
        });
        data = {submit:"Volume"}
        $.ajax({
          url: $SCRIPT_ROOT + "/control",
          data: JSON.stringify(data),
          type: "POST",
          contentType:"application/json; charset=utf-8",
          success: function(response) {
              console.log($.parseJSON(response)["response"])
              $("#volume").text("Volume: " + $.parseJSON(response)["response"])
          },
          error: function(error) {
              console.log(error);
          }
        });
    });
    $("#play").click(function(){
	console.log("play clicked");
        if ($(this).text() == "Play") {
            $(this).text("Stop")
            var data = {submit:"Play"};
        } else {
            $(this).text("Play")
            var data = {submit:"Stop"};
        }
        $.ajax({
            url: $SCRIPT_ROOT + "/control",
            data: JSON.stringify(data),
            type: "POST",
	          contentType:"application/json; charset=utf-8",
            success: function(response) {
		            console.log($.parseJSON(response)["response"])
                $("#current_radio").text("On air: "+ $.parseJSON(response)["response"])
            },
            error: function(error) {
                console.log(error);
            }
        });
    })
    $("#prev").click(function(){
	    console.log("prev clicked");
        var data = {submit:"Previous"};
        $.ajax({
            url: $SCRIPT_ROOT + "/control",
            data: JSON.stringify(data),
            type: "POST",
	          contentType:"application/json; charset=utf-8",
            success: function(response) {
		            console.log($.parseJSON(response)["response"])
                $("#current_radio").text("On air: "+ $.parseJSON(response)["response"])
            },
            error: function(error) {
                console.log(error);
            }
        });
    })
    $("#next").click(function(){
	    console.log("next clicked");
        var data = {submit:"Next"};
        $.ajax({
            url: $SCRIPT_ROOT + "/control",
            data: JSON.stringify(data),
            type: "POST",
	          contentType:"application/json; charset=utf-8",
            success: function(response) {
		            console.log($.parseJSON(response)["response"])
                $("#current_radio").text("On air: "+ $.parseJSON(response)["response"])
            },
            error: function(error) {
                console.log(error);
            }
        });
    })
    $("#incr").click(function(){
	    console.log("increase clicked");
        var data = {submit:"Increase"};
        $.ajax({
            url: $SCRIPT_ROOT + "/control",
            data: JSON.stringify(data),
            type: "POST",
            contentType:"application/json; charset=utf-8",
            success: function(response) {
		            console.log($.parseJSON(response)["response"])
                $("#volume").text("Volume: " + $.parseJSON(response)["response"])
            },
            error: function(error) {
                console.log(error);
            }
        });
    })
    $("#decr").click(function(){
	    console.log("decrease clicked");
        var data = {submit:"Decrease"};
        $.ajax({
            url: $SCRIPT_ROOT + "/control",
            data: JSON.stringify(data),
            type: "POST",
	          contentType:"application/json; charset=utf-8",
            success: function(response) {
		            console.log($.parseJSON(response)["response"])
                $("#volume").text("Volume: " + $.parseJSON(response)["response"])
            },
            error: function(error) {
                console.log(error);
            }
        });
    })
</script>
{% endblock %}
