{% extends "layout.html" %}
{% block body %}
<h2>Radio stream control website</h2>
<form method="post">
    <input type="button" id="play" value="Play">
    <input type="button" id="prev" value="Previous">
    <input type="button" id="next" value="Next">
    <input type="button" id="incr" value="Increase volume">
    <input type="button" id="decr" value="Decrease volume">
</form>
<form method="post">
    <input type="text" name="name" value="Radio">
    <input type="text" name="url" value="URL">
    <input type="button" name="submit" value="Add URL">
</form>
<script>
    $("#play").click(function(){
	console.log("play clicked");
        if ($(this).val() == "Play") {
            $(this).val("Stop")
            var data = {submit:'Play'};
        } else {
            $(this).val("Play")
            var data = {submit:'Stop'};
        }
        $.ajax({
            url: $SCRIPT_ROOT + '/control',
            data: JSON.stringify(data),
            type: 'POST',
		contentType:"application/json; charset=utf-8",
            success: function(response) {
		        console.log(response.submit)
            },
            error: function(error) {
                console.log(error);
            }
        });
    })
    $("#prev").click(function(){
	    console.log("prev clicked");
        var data = {submit:'Previous'};
        $.ajax({
            url: $SCRIPT_ROOT + '/control',
            data: JSON.stringify(data),
            type: 'POST',
		    contentType:"application/json; charset=utf-8",
            success: function(response) {
		        console.log(response.submit)
            },
            error: function(error) {
                console.log(error);
            }
        });
    })
    $("#next").click(function(){
	    console.log("next clicked");
        var data = {submit:'Next'};
        $.ajax({
            url: $SCRIPT_ROOT + '/control',
            data: JSON.stringify(data),
            type: 'POST',
		    contentType:"application/json; charset=utf-8",
            success: function(response) {
		        console.log(response.submit)
            },
            error: function(error) {
                console.log(error);
            }
        });
    })
    $("#incr").click(function(){
	    console.log("increase clicked");
        var data = {submit:'Increase'};
        $.ajax({
            url: $SCRIPT_ROOT + '/control',
            data: JSON.stringify(data),
            type: 'POST',
		    contentType:"application/json; charset=utf-8",
            success: function(response) {
		        console.log(response.submit)
            },
            error: function(error) {
                console.log(error);
            }
        });
    })
    $("#decr").click(function(){
	    console.log("decrease clicked");
        var data = {submit:'Decrease'};
        $.ajax({
            url: $SCRIPT_ROOT + '/control',
            data: JSON.stringify(data),
            type: 'POST',
		    contentType:"application/json; charset=utf-8",
            success: function(response) {
		        console.log(response.submit)
            },
            error: function(error) {
                console.log(error);
            }
        });
    })
</script>
{% endblock %}
